DOTENV_CONFIG_QUIET=true

NODE_ENV=development

# Airbrake config
AIRBRAKE_HOST=https://my-errbit-instance.com
AIRBRAKE_KEY=longvaluefullofnumbersandlettersinlowercase
ENVIRONMENT=dev

# Database config
DEFAULT_USER_PASSWORD=P@55word
POSTGRES_DB=wabs
POSTGRES_DB_TEST=wabs_system_test
POSTGRES_HOST=db
POSTGRES_PASSWORD=password12345
POSTGRES_PORT=5432
POSTGRES_USER=myuser

# Hapi config
PORT=3002

# Log config
LOG_ASSET_REQUESTS=false
LOG_IN_TEST=false

# Server config
EXTERNAL_DOMAIN=http://localhost:3001
http_proxy=http://myproxy:8080
INTERNAL_DOMAIN=http://localhost:3002

# Yar config
COOKIE_SECRET=longvaluefullofnumbersandlettersinlowercase
SESSION_NAME=engine
